block content
  button(id="fetchButton") 取得
  if albums.length > 0
    each album in albums
      p=album.title
      p=album.artist
      p=album.price

  script.
      document.getElementById('fetchButton').addEventListener('click', function() {
          window.location.href = '/?fetch=true';
      });
